body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page { height: 100vh; }

.header {
  background-color: floralwhite;
}

.page-title {
  padding: 20px 0;
  color: #747474;
}

.master-card {
  width: 10vh;
  margin-bottom: 12px;
}

.master-image {
  cursor: pointer;
  border-radius: 4px;
}

.master-name {
  font-size: 0.65em;
  text-align: center;
}

.selected {
  border: 2px solid #198754;
}

.loader {
  color: #198754;
  padding-bottom: 256px;
}

.dialog-container { padding: 4vh 0 12vh; }

.dialog { flex-direction: column; }

.dialog-list {
  padding-bottom: 128px;
}

.q-a { margin-bottom: 40px; }

.question { color: grey; margin-bottom: 6px }

.answer {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
}

.input { height: 10%; background-color: #f8f9fa;
 }